<nav>
    <h1 class="navTitle">What's The Weather</h1>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/weather">Weather</a></li>
    </ul>
</nav>