<nav>
    <h1 class="navTitle">What's The Weather</h1>
    <ul>
        <li><a class="pages" href="/">Home</a></li>
        <li><a class="pages" href="/about">About</a></li>
        <li><a class="pages" href="/weather">Weather</a></li>
    </ul>
</nav>