@import url("https://fonts.googleapis.com/css2?family=Fugaz+One&family=Russo+One&display=swap");

body {
  background-color: slateblue;
  font-family: "Russo One", sans-serif;
}

nav {
  background-color: #1d1d1d;
  padding: 10px 15px;
  display: flex;
  align-content: center;
  justify-content: space-between;
  font-family: "Fugaz One", cursive;
}

nav ul {
  display: flex;
  justify-content: space-around;
  font-size: 2em;
}

nav ul li {
  padding-left: 20px;
  list-style: none;
}

.description {
  text-transform: capitalize;
}

.navTitle {
  color: white;
  font-size: 2.5em;
}
.pages{
  color: slateblue;
}
.weather li {
  display: flex;
  justify-content: space-around;
}

/* .locationsTitle {
  font-size: 2.5em;
} */

.buttonLocations {
	box-shadow: 0px 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#599bb3;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}
.buttonLocations:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}
.buttonLocations:active {
	position:relative;
	top:1px;
}
