@import url("https://fonts.googleapis.com/css2?family=Fugaz+One&family=Russo+One&display=swap");

body {
  background-color: slateblue;
  font-family: "Russo One", sans-serif;
}

nav {
  background-color: #1d1d1d;
  padding: 10px 15px;
  display: flex;
  align-content: center;
  justify-content: space-between;
  font-family: "Fugaz One", cursive;
}

nav ul {
  display: flex;
  justify-content: space-around;
  font-size: 2em;
}

nav ul li {
  padding-left: 20px;
  list-style: none;
}

.title,
.weatherData {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.Locations,
.search {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.description {
  text-transform: capitalize;
}

.navTitle {
  color: white;
  font-size: 2.5em;
}
.pages {
  color: slateblue;
}
.weather li {
  display: flex;
  justify-content: space-around;
}

.buttonLocations {
  margin-left: 10px;
  border-radius: 3px;
  padding: 7px 12px;
  border: 1px solid #d5d5d5;
  background-image: linear-gradient(#eee, #ddd);
  font: 700 13px/18px Helvetica, arial;
}
.buttonLocations:hover {
  background: linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
  background-color: #408c99;
}
.buttonLocations:active {
  position: relative;
  top: 1px;
}
