@import url("https://fonts.googleapis.com/css2?family=Fugaz+One&family=Russo+One&display=swap");

body {
  background-color: slateblue;
  font-family: "Russo One", sans-serif;
}

nav {
  background-color: #1d1d1d;
  padding: 10px 15px;
  display: flex;
  align-content: center;
  justify-content: space-between;
  font-family: "Fugaz One", cursive;
}

nav ul {
  display: flex;
  justify-content: space-around;
  font-size: 2em;
}

nav ul li {
  padding-left: 20px;
  list-style: none;
}

.description {
  text-transform: capitalize;
}

.navTitle {
  color: white;
  font-size: 2.5em;
}
.pages{
  color: slateblue;
}
.weather li {
  display: flex;
  justify-content: space-around;
}

/* .locationsTitle {
  font-size: 2.5em;
} */

.buttonLocations {
  display: inline-block;
	border-radius: 3px;
	padding: 7px 12px;
	border: 1px solid #D5D5D5;
	background-image: linear-gradient(#EEE, #DDD);
	font: 700 13px/18px Helvetica, arial;
}
.buttonLocations:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}
.buttonLocations:active {
	position:relative;
	top:1px;
}
